header{
    /*center the text*/
    text-align: center;
}

.vlogs{
    /*center the text*/
    text-align: center;
}

.learn-articles{
    /*determine the position type*/
    position: relative;
    /*move left*/
    left: 10px;
    /*move up*/
    bottom: 10px;
    /*add space*/
    padding: 5%;
    /*move left*/
    margin-left: 15%;
}
.monthly-newsletters{
    /*determine the position type*/
    position: relative;
    /*move left*/
    left: 10px;
    /*move up*/
    bottom: 550px;
    /*move left*/
    padding-left: 55%;
    /*move up*/
    padding-bottom: 50px;;
}


.placeholder{
    /*determine the position type*/
    position: relative;
    /*move left*/
    left: 10px;
    /*move up*/
    bottom: 375px;
    /*move left*/
    padding-left: 37%;
}

body{
    /*change background color*/
    background-color: rgb(212, 176, 246);
    /*sets the height*/
    height: 100%;
    /*sets the width*/
    width: 100%;
    /*sets the margin*/
    margin: 10px;
    /*sets the padding*/
    padding: 5px;
}

footer{
    /*center the text*/
    text-align: center;
}