/**/
header{
    text-align: center;
    font-size: large;
    padding-top: 50px;
}

/**/
.grid-container {
    padding-left: 250px;
    padding-top: 125px;
    display: grid;
    grid-template-columns: auto auto auto;
}

/**/
.link-with-preview {
    text-decoration: none;
    color:  rgb(140, 0, 255);
    position: relative;
}

/**/
.link-with-preview .preview {
    display: grid;
    position: absolute;
    top: 100%;
    left: 0;
    width: 500px;
    height: 565px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 10;
}

/**/
.link-with-preview .preview img {
    width: 100%;
    height: auto;
}

/**/
.link-with-preview .preview p {
    margin: 5px 0;
}

/**/
.link-with-preview .learn {
    display: grid;
    position: absolute;
    top: 100%;
    left: 0;
    width: 500px;
    height: 565px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 10;
}

/**/
.link-with-preview .learn h3{
    text-align: center;
}

/**/
.link-with-preview .learn img {
    width: 100%;
    height: auto;
}

/**/
.link-with-preview .learn p {
    margin: 5px 0;
    font-size: larger;
}

/**/
.link-with-preview .article {
    display: grid;
    position: absolute;
    top: 100%;
    left: 0;
    width: 500px;
    height: 565px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 10;
}

/**/
.link-with-preview .article img {
    width: 100%;
    height: auto;
}

/**/
.link-with-preview .article p {
    margin: 5px 0;
}

/**/
body{
    background-color: rgb(212, 176, 246);
}

/**/
footer{
    /*center the text*/
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}